{% extends 'blog/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
       <h1>{{ title }}</h1>
        <p>Популярность новостных сайтов уверенно растет, об этом говорят результаты множества исследований: за период с 2015 по 2019 год их аудитория увеличилась на 13%. При этом мы наблюдаем, что востребованность радио и печатных СМИ уменьшилась вдвое. Телевидение еще долго будет служить основным источником информации для старшего поколения украинцев, тогда как онлайн-медиа востребованы среди пользователей 18-50 лет, и верхний показатель их возраста также демонстрирует рост</p>

        {% for element in values %}
            <p>{{ element }}</p>
        {% endfor %}
    </div>
{% endblock %}