{% extends 'blog/base.html' %}

{% block title %}Инфо{% endblock %}

{% block content %}
    <div class="features">
       <h1>Инфо</h1>
        <p>Веб-сайт как система электронных документов (файлов данных и кода) может принадлежать частному лицу или организации и быть доступным в компьютерной сети под общим доменным именем и IP-адресом или локально на одном компьютере. В статье журнала «Хозяйство и право» также было высказано мнение, что каждый сайт имеет своё название, которое при этом не следует путать с доменным именем. С точки зрения авторского права сайт является составным произведением, соответственно название сайта подлежит охране наряду с названиями всех прочих произведений.</p>
        {% for element in values %}
            <p>{{ element }}</p>
        {% endfor %}
    </div>
{% endblock %}